HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified


# Database
DATABASE_CLIENT=sqlite
DATABASE_FILENAME=.tmp/data.db

#email
EMAIL_PROVIDER=nodemailer
SMTP_HOST=smtp.timeweb.ru
SMTP_PORT=25
SMTP_USERNAME=sales@example.ru
SMTP_PASSWORD=password
EMAIL_ADDRESS_FROM=sales@example.ru
EMAIL_ADDRESS_REPLY=no_reply@example.ru

#project
DOCKER_USERNAME=mayatskiy
PROJECT_NAME=strapi-experiments
PROJECT_VERSION=0.0.1

SERVER_IP=77.232.128.22
API_PORT=1337
SSH_KEY_PATH=~/.ssh/id_rsa_taiga
DOMEN_NAME=http://name.ru

#cloudinary
CLOUDINARY_NAME=dlnjgrnkp
CLOUDINARY_KEY=198764429828875
CLOUDINARY_SECRET=AvT-zFgiejvGo_Ln6IjiaPEl6UU

STRAPI_ADMIN_API_TOKEN=
STRAPI_ADMIN_TEST_STRIPE_SECRET_KEY=
